<%@artists.each do |artist|%>
    <a href="<%=artist_path(artist)%>">
        <div class="tile">
            <%= image_tag artist.image_url, class: "headshot" %>
            <p><%= artist.name %></p>
            <p><%= artist.genres.map {|g| g.name}.join(', ') %> </p>
        </div>
    </a>
<%end%>