<div class = "artist-posts">
    <% if @posts %>
        <% @posts.each do |post|%>
        <div class="tile post">
            <p><%=post.content%></p>
            <%if post.media.attached?%>
                <%if post.media.blob.content_type.include?("image" || "jpeg")%>
                <%=image_tag post.media, class: "picture"%>
                <% elsif post.media.blob.content_type.include?("video")%>
                <video src='<%=rails_blob_path(post.media)%>' type="video/mp4" controls>
                </video>
                <%end%>
            <%end%>
        </div>
        <%end%>
    <%end%>
</div>