/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  *= require simple_calendar
// @import simple_calendar



img, video {max-width:100%}
a img:hover{
    // border: solid 1px #DDD;
    box-shadow: #6b9fff7a 0 0 27px }
a div:hover {box-shadow: #6b9fff7a 0 0 27px }    


div.content {
    position:relative;
    top: 72px;
    padding: 0 3%;
}

img.headshot {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

img.icon {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

ul {
    list-style: none

}

nav a {color: white;
    padding: 30px;

}

.thumb_display li {
    display: inline-block;
    max-width: 25%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    // border: solid 1px #efefef;
}

.tile {
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    max-width: 300px;
    vertical-align: top;
    max-height: 450px;
    overflow-y: scroll;
    // border: solid 1px #efefef;
}

.tile a.calendar-link{color: white;
    text-decoration: underline}

.tile a p.venue-location {color: white}

.tile a {
    font-size: 13px
}


.tile a p {
    color: gray;
    margin-bottom: 0rem
}

.tile a p.artist-name {
    font-size: 15px;
    color: white
}

.tile a.genre-links {
    color: gray; 
    text-decoration: underline;  
}

.post {
    width: 30%;
    display: inline-block;
    vertical-align: top
}

.post video, .post img {
    max-width: 100%;
}

.post.tile{
    text-align: left;
}

.tile video, .tile img {
    max-width:100%
}

.mine {background: #38c2d41f}

.played {background: #83d4381f}

#center {text-align: center;
    margin: 170px;
    font-size: 3.0rem;
    color: white;
}
// 

    a {color: whitesmoke}
h1 {padding: 0 0 0 30px}

h1 a{color: lightblue}

div.content {
   
}
body {background-color: black;
}

// background-image: url("background-1939128_1280.jpg")

div.login-header {margin: 150px;
    text-align: center;
}

.login {text-align: right;
    margin: 0 auto;
    width: 285px;
}

.navbar {
    border: 1px solid #dddddd3d;
    /* color: #FFF; */
    color: #ececec;
    position: fixed; 
    width: 100%; 
    background: #7878b53d;
    font-weight:200;
    z-index: 500;
}

h2 {
    margin-top:20px;
}

body {color: #afafaf}
a{font-weight:bold}

a:hover{
    color:#88a1e0;
    text-decoration:none;
}