input {    
    background: #d4d4d454;
    border: 0px;
    color: #FFF;
}

button, .button_to input {
    color: #ececec;
    margin: 3px 5px;
    border-radius: 15px;
    border: 1px solid #606063;
}
