input {    
    background: #7878b53d;
    border: 0px;
    color: #FFF;
}

button, .button_to input {
    color: #ececec;
    margin: 3px 5px;
    border-radius: 27px;
    border: 1px solid #606063;
    padding: 4px 17px;
}

form.button_to {    display: inline-block;}

div.controls {
    float: right;
    position: relative;
    top: -27px;
}