.simple-calendar {
  margin: 0 100px;
    table {
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #efefef29; 
      border-collapse: collapse;
      box-sizing: border-box;
      max-width: 1100px;
      width: 100%;
    }
  
    tr {
      border-collapse: collapse;
    }
  
    table thead th { border: 2px solid #efefef29; }

    th {
      color: white;
      padding: 6px;
      // border-bottom: 2px solid rgb(221, 221, 221);
      border-bottom: 2px solid #efefef29; 
      border-collapse: collapse;
      // border-left: 1px solid rgb(221, 221, 221);
      border-left: 1px solid #efefef29; 
      // border-right: 1px solid rgb(221, 221, 221);
      border-top: 0px none #efefef29; 
      box-sizing: border-box;
      text-align: left;
    }
  
    td {
      padding: 6px;
      vertical-align: top;
      width: 14%;
  
      border: 1px solid #efefef29;
      // border-top-color: #efefef29;
      border-top-style: solid;
      border-top-width: 1px;
      // border-right-color: rgb(221, 221, 221);
      border-right-style: solid;
      border-right-width: 1px;
      // border-bottom-color: rgb(221, 221, 221);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      // border-left-color: rgb(221, 221, 221);
      border-left-style: solid;
      border-left-width: 1px;
    }
  
    .day {
      height: 200px;
      color: gray
    }
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {
      background: rgb(21, 46, 34)
    }
  
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
      background: #34364496;
    }
    .next-month {
      background: #34364496;
    }
    .current-month {}
  
    .has-events {}
  }