<h1>Delete Admin for <%=@venue.name%></h1>

<%=form_tag user_venue_path(@venue.id), method: 'delete' do %>
    <input type="text" name="user_id" list="users">
    <datalist id    ='users'>
    <% @venue.users.each do |user|%>
        <option value = '<%=user.username%>'>
        <%end%>
        </datalist>
    <%=submit_tag "Remove this admin"%>
<%end%>




